#container_btns{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    background-color: #8969fd;
    height: 200px;
}

.div_texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.cabecalho{
    width: 400px;
    background-color: #3519e6;
    height: 150px;
    color: black;
}